::ng-deep body {
  background-image: url("/assets/4372417.jpg");
  background-size: cover;
}

.mainCont {
  // margin-top: 20px;
  width: 80%;
  height: fit-content;
  margin: 2rem auto;
  box-shadow: black;
  // border: 2px solid;
  // border-radius: 10px;

  form {
    display: flex;
    flex-direction: column;
  }

  .itemCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    div {
      width: 100%;
      ::ng-deep mat-form-field {
        width: 100%;
        margin: 0 3px;
      }
    }

    ::ng-deep mat-form-field {
      width: 48%;
      margin: 0 3px;
    }
  }

  .itemContSmall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

    div {
      width: 100%;
    }

    ::ng-deep mat-form-field {
      width: 100%;
      margin: 0 3px;
    }
  }

  .persCont {
    display: flex;
    flex-direction: row;
    background-size: cover;
    border-bottom: 1px solid;
    margin-bottom: 0.5rem;

    img {
      flex: 2;
      width: 50%;
      margin: 1rem;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    .btnCont {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 1rem;
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        flex-wrap: wrap;
        border: 1px solid lightgrey;
        padding: 0.5rem;
        border-radius: 8px;

        .succ {
          color: green;
        }
      }
    }
  }
}
