<div class="mainCont">
  <h2>Kindly fill in the forms below</h2>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="basicDetailsForm">
      <form [formGroup]="basicDetailsForm">
        <ng-template matStepLabel>Personal details</ng-template>
        <div class="persCont">
          <!-- <img *ngIf="!(isSmallScreen$ | async)" src="./assets/info.jpg" alt="" /> -->
          <div class="itemCont" id="persContForm">
            <div>
              <mat-form-field>
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="name" required />
                <mat-error *ngIf="basicDetailsForm.controls['name'].hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field>
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender" required>
                <mat-option value="M">Male</mat-option>
                <mat-option value="F">Female</mat-option>
              </mat-select>
              <mat-error *ngIf="basicDetailsForm.controls['gender'].hasError('required')">
                Gender is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Age</mat-label>
              <input matInput placeholder="18" formControlName="age" required type="number" />
              <mat-error *ngIf="basicDetailsForm.controls['age'].hasError('required')">
                Age is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="dob" />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Admission Number</mat-label>
              <input matInput placeholder="XS2212" formControlName="admNo" required type="text" />
              <mat-error *ngIf="
                  basicDetailsForm.controls['admNo'].hasError('required')
                ">
                Admission Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Year/Form</mat-label>
              <input matInput placeholder="18" formControlName="formYear" required type="number" />
              <mat-error *ngIf="
                  basicDetailsForm.controls['formYear'].hasError('required')
                ">
                Year/Form is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Phone</mat-label>
              <input matInput type="number" placeholder="Phone" formControlName="phone" required />
              <mat-error *ngIf="basicDetailsForm.controls['phone'].hasError('required')">
                Phone is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Course</mat-label>
              <mat-select formControlName="course" required>
                <mat-option value="olevel">O-Level</mat-option>
                <mat-option value="certificate">Certificate</mat-option>
                <mat-option value="diploma">Diploma</mat-option>
                <mat-option value="degree">Degree</mat-option>
                <mat-option value="na">Other</mat-option>
              </mat-select>
              <mat-error *ngIf="basicDetailsForm.controls['course'].hasError('required')">
                Course is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="basicDetailsForm.controls['course'].value == 'na'">
              <mat-label>Other</mat-label>
              <input matInput placeholder="Online Degree" formControlName="other" />
            </mat-form-field>
          </div>
        </div>

        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="locationDetailsForm">
      <form [formGroup]="locationDetailsForm">
        <ng-template matStepLabel>Location details</ng-template>
        <div class="persCont">
          <div class="itemCont">
            <div>
              <mat-form-field>
                <mat-label>Constituency</mat-label>
                <mat-select formControlName="constituency" (selectionChange)="filterWards()" required>
                  <mat-option value="">Select One</mat-option>
                  <mat-option *ngFor="let constit of migoriConstData" [value]="constit['constituency']">{{
                    constit["constituency"] }}</mat-option>
                </mat-select>
                <mat-error *ngIf="
                    locationDetailsForm.controls['constituency'].hasError(
                      'required'
                    )
                  ">
                  Constituency is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Ward</mat-label>
                <mat-select formControlName="ward" required>
                  <mat-option value="">Select One</mat-option>
                  <mat-option *ngFor="let ward of selectedWards" [value]="ward">{{ ward }}</mat-option>
                </mat-select>
                <mat-error *ngIf="
                    locationDetailsForm.controls['ward'].hasError('required')
                  ">
                  Ward is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Village</mat-label>
                <input matInput placeholder="pinji" formControlName="village" required />
                <mat-error *ngIf="
                    locationDetailsForm.controls['village'].hasError('required')
                  ">
                  Village is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- <img *ngIf="!(isSmallScreen$ | async)" src="./assets/location.jpg" alt="" /> -->
        </div>

        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="familyDetailsForm">
      <form [formGroup]="familyDetailsForm">
        <ng-template matStepLabel>Father's details</ng-template>
        <div class="persCont">
          <!-- <img *ngIf="!(isSmallScreen$ | async)" src="./assets/father.jpg" alt="" /> -->
          <div class="itemCont">
            <div>
              <mat-form-field>
                <mat-label>Is your father alive?</mat-label>
                <mat-select formControlName="fatherAlive" (selectionChange)="fatherInfoRequired()" required>
                  <mat-option value="na">I do not know about my father</mat-option>
                  <mat-option value="yes">Yes</mat-option>
                  <mat-option value="no">No</mat-option>
                </mat-select>
                <mat-error *ngIf="
                    familyDetailsForm.controls['fatherAlive'].hasError(
                      'required'
                    )
                  ">
                  Father's Status is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Father's Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="fatherName" />
                <mat-error *ngIf="
                    familyDetailsForm.controls['fatherName'].hasError(
                      'required'
                    )
                  ">
                  Father's name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Father's Occupation</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="fatherOccupation" />
                <mat-error *ngIf="
                    familyDetailsForm.controls['fatherOccupation'].hasError(
                      'required'
                    )
                  ">
                  Father's Occupation is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Father's Phone</mat-label>
                <input matInput placeholder="0722xxxxxx" formControlName="fatherPhone" type="number" />
                <mat-error *ngIf="
                    familyDetailsForm.controls['fatherPhone'].hasError(
                      'required'
                    )
                  ">
                  Father's Phone is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="familyDetailsForm">
      <form [formGroup]="familyDetailsForm">
        <ng-template matStepLabel>Mother's details</ng-template>
        <div class="persCont">
          <div class="itemCont">
            <div>
              <mat-form-field>
                <mat-label>Is your mother alive?</mat-label>
                <mat-select formControlName="motherAlive" (selectionChange)="motherInfoRequired()" required>
                  <mat-option value="na">I do not know about my mother</mat-option>
                  <mat-option value="yes">Yes</mat-option>
                  <mat-option value="no">No</mat-option>
                </mat-select>
                <mat-error *ngIf="
                    familyDetailsForm.controls['motherAlive'].hasError(
                      'required'
                    )
                  ">
                  Mother's Status is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Mother's Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="motherName" />
                <mat-error *ngIf="
                    familyDetailsForm.controls['motherName'].hasError(
                      'required'
                    )
                  ">
                  Mother's name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Mother's Occupation</mat-label>
                <input matInput placeholder="Cook | Self Employed" formControlName="motherOccupation" />
                <mat-error *ngIf="
                    familyDetailsForm.controls['motherOccupation'].hasError(
                      'required'
                    )
                  ">
                  Mother's Occupation is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Mother's Phone</mat-label>
                <input matInput placeholder="0722xxxxxx" formControlName="motherPhone" type="number" />
                <mat-error *ngIf="
                    familyDetailsForm.controls['motherPhone'].hasError(
                      'required'
                    )
                  ">
                  Mother's Phone is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- <img *ngIf="!(isSmallScreen$ | async)" src="./assets/mother.jpg" alt="" /> -->
        </div>

        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="sponsorDetailsForm">
      <form [formGroup]="sponsorDetailsForm">
        <ng-template matStepLabel>Guardian's details</ng-template>
        <div class="persCont">
          <!-- <img *ngIf="!(isSmallScreen$ | async)" src="./assets/guardian.jpg" alt="" /> -->
          <div class="itemCont">
            <div>
              <mat-form-field>
                <mat-label>How many brothers/sisters do you have?</mat-label>
                <input matInput placeholder="2" formControlName="siblingsNum" />
                <mat-error *ngIf="
                    sponsorDetailsForm.controls['siblingsNum'].hasError(
                      'required'
                    )
                  ">
                  Number of siblings is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Name of person(s) who pays your school fees</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="sponsorName" />
                <mat-error *ngIf="
                    sponsorDetailsForm.controls['sponsorName'].hasError(
                      'required'
                    )
                  ">
                  Name of person(s) who pays your school fees of siblings is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>What is His/Her Occupation?</mat-label>
                <input matInput placeholder="Cook | Self Employed" formControlName="sponsorOccupation" />
                <mat-error *ngIf="
                    sponsorDetailsForm.controls['sponsorOccupation'].hasError(
                      'required'
                    )
                  ">
                  His/Her Occupation is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>What is His/Her Phone Number?</mat-label>
                <input matInput placeholder="07xxxxxxxx" formControlName="sponsorPhone" type="number" />
                <mat-error *ngIf="
                    sponsorDetailsForm.controls['sponsorPhone'].hasError(
                      'required'
                    )
                  ">
                  His/Her Phone Number is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Your relationship with him/her?</mat-label>
                <input matInput placeholder="Father | Uncle" formControlName="sponsorRelationship" />
                <mat-error *ngIf="
                    sponsorDetailsForm.controls['sponsorRelationship'].hasError(
                      'required'
                    )
                  ">
                  Your relationship with him/her is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>How many children does the guardian have?</mat-label>
                <input matInput placeholder="2" formControlName="sponsorChildrenNum" type="number" />
                <mat-error *ngIf="
                    sponsorDetailsForm.controls['sponsorChildrenNum'].hasError(
                      'required'
                    )
                  ">
                  How many children does the guardian have is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>How many are working/in-business/farming?</mat-label>
                <input matInput placeholder="2" formControlName="sponsorChildrenWorking" type="number" />
                <mat-error *ngIf="
                    sponsorDetailsForm.controls[
                      'sponsorChildrenWorking'
                    ].hasError('required')
                  ">
                  How many are working/in-business/farming is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>How many are in Secondary School?</mat-label>
                <input matInput placeholder="2" formControlName="sponsorChildrenSecond" type="number" />
                <mat-error *ngIf="
                    sponsorDetailsForm.controls[
                      'sponsorChildrenSecond'
                    ].hasError('required')
                  ">
                  How many are in Secondary School is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>How many are in Post Secondary Institutions?</mat-label>
                <input matInput placeholder="2" formControlName="sponsorChildrenPostSecond" type="number" />
                <mat-error *ngIf="
                    sponsorDetailsForm.controls[
                      'sponsorChildrenPostSecond'
                    ].hasError('required')
                  ">
                  How many are in Post Secondary Institutions is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="instDetailsForm">
      <form [formGroup]="instDetailsForm">
        <ng-template matStepLabel>Institution's details</ng-template>
        <div class="persCont">
          <!-- <img *ngIf="!(isSmallScreen$ | async)" src="./assets/inst.jpg" alt="" /> -->
          <div class="itemCont">
            <div>
              <mat-form-field>
                <mat-label>Name of Institution to join / Current Institution</mat-label>
                <input matInput placeholder="XYZ University" formControlName="instName" />
                <mat-error *ngIf="
                    instDetailsForm.controls['instName'].hasError('required')
                  ">
                  Name of Institution to join / Current Institution is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Bank Name of Institution</mat-label>
                <input matInput placeholder="KCB" formControlName="instBank" />
                <mat-error *ngIf="
                    instDetailsForm.controls['instBank'].hasError('required')
                  ">
                  Bank Name of Institution is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Bank Branch of Institution</mat-label>
                <input matInput placeholder="Rondo" formControlName="instBranch" />
                <mat-error *ngIf="
                    instDetailsForm.controls['instBranch'].hasError('required')
                  ">
                  Bank Branch of Institution is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Institution's Account Number</mat-label>
                <input matInput placeholder="2876 6261 2716 1672" formControlName="instAccNo" type="number" />
                <mat-error *ngIf="
                    instDetailsForm.controls['instAccNo'].hasError('required')
                  ">
                  Institution's Account Number is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="uploadDetailsForm">
      <form [formGroup]="uploadDetailsForm">
        <ng-template matStepLabel>Upload required documents</ng-template>
        <div class="persCont">
          <!-- <img *ngIf="!(isSmallScreen$ | async)" src="./assets/inst.jpg" alt="" /> -->
          <div class="btnCont">
            <div>
              <mat-label>Signed Declaration Form</mat-label>
              <input formControlName="declForm" hidden (change)="onFileSelected($event, 'declFormFile')" #fileInput
                accept="application/pdf" type="file" />
              <mat-error *ngIf="
                  uploadDetailsForm.controls['declForm'].hasError('required')
                ">
                Declaration Form is
                <strong>required</strong>
              </mat-error>
              <p class="succ" *ngIf="
                  !uploadDetailsForm.controls['declForm'].hasError('required')
                ">
                Signed Declaration Form has been
                <strong>uploaded</strong>
              </p>
              <button type="button" mat-raised-button (click)="fileInput.click()">
                Choose File
              </button>
            </div>
            <div>
              <mat-label>Parent(s) National ID</mat-label>
              <input formControlName="parentIds" hidden (change)="onFileSelected($event, 'parentIdsFile')" #fileInputPid
                type="file" accept="application/pdf" />
              <mat-error *ngIf="
                  uploadDetailsForm.controls['parentIds'].hasError('required')
                ">
                Parent(s) National ID is
                <strong>required</strong>
              </mat-error>
              <p class="succ" *ngIf="
                  !uploadDetailsForm.controls['parentIds'].hasError('required')
                ">
                Parent(s) National ID has been
                <strong>uploaded</strong>
              </p>
              <button type="button" mat-raised-button (click)="fileInputPid.click()">
                Choose File
              </button>
            </div>
            <div>
              <mat-label>Student ID</mat-label>
              <input formControlName="studId" hidden (change)="onFileSelected($event, 'studIdFile')" #fileInputStudId
                type="file" accept="application/pdf" />

              <mat-error *ngIf="
                  uploadDetailsForm.controls['studId'].hasError('required')
                ">
                Student ID is
                <strong>required</strong>
              </mat-error>
              <p class="succ" *ngIf="
                  !uploadDetailsForm.controls['studId'].hasError('required')
                ">
                Student ID has been
                <strong>uploaded</strong>
              </p>
              <button type="button" mat-raised-button (click)="fileInputStudId.click()">
                Choose File
              </button>
            </div>
            <div>
              <mat-label>Student Birth Cert</mat-label>
              <input formControlName="studBirthCert" hidden (change)="onFileSelected($event, 'studBirthCertFile')"
                #fileInputStudBcrt type="file" accept="application/pdf" />
              <mat-error *ngIf="
                  uploadDetailsForm.controls['studBirthCert'].hasError(
                    'required'
                  )
                ">
                Student Birth Certificate is
                <strong>required</strong>
              </mat-error>
              <p class="succ" *ngIf="
                  !uploadDetailsForm.controls['studBirthCert'].hasError(
                    'required'
                  )
                ">
                Student Birth Certificate has been
                <strong>uploaded</strong>
              </p>
              <button type="button" mat-raised-button (click)="fileInputStudBcrt.click()">
                Choose File
              </button>
            </div>
            <div>
              <mat-label>Parent(s) Death Certificate(optional)</mat-label>
              <input formControlName="parentDeathCert" hidden (change)="onFileSelected($event, 'parentDeathCertFile')"
                #fileInputParDeathcrt type="file" accept="application/pdf" />
              <mat-error *ngIf="
                  uploadDetailsForm.controls['parentDeathCert'].hasError(
                    'required'
                  )
                ">
                Parent(s) Death Certificate is
                <strong>required</strong>
              </mat-error>
              <p class="succ" *ngIf="parentDeathCertFile !== null">
                Parent(s) Death Certificate has been
                <strong>uploaded</strong>
              </p>
              <button type="button" mat-raised-button (click)="fileInputParDeathcrt.click()">
                Choose File
              </button>
            </div>
            <div>
              <mat-label>Report Form/Transcripts</mat-label>
              <input formControlName="transcripts" hidden (change)="onFileSelected($event, 'reportFormTransFile')"
                #fileInputTransc type="file" accept="application/pdf" />
              <mat-error *ngIf="
                  uploadDetailsForm.controls['transcripts'].hasError('required')
                ">
                Report Form/Transcripts is
                <strong>required</strong>
              </mat-error>
              <p class="succ" *ngIf="
                  !uploadDetailsForm.controls['transcripts'].hasError(
                    'required'
                  )
                ">
                Report Form/Transcripts has been
                <strong>uploaded</strong>
              </p>
              <button type="button" mat-raised-button (click)="fileInputTransc.click()">
                Choose File
              </button>
            </div>
            <div>
              <mat-label>Admission Letter</mat-label>
              <input formControlName="admLett" hidden (change)="onFileSelected($event, 'admLetterFile')"
                #fileInputAdmLett type="file" accept="application/pdf" />
              <mat-error *ngIf="
                  uploadDetailsForm.controls['admLett'].hasError('required')
                ">
                Admission Letter is
                <strong>required</strong>
              </mat-error>
              <p class="succ" *ngIf="
                  !uploadDetailsForm.controls['admLett'].hasError('required')
                ">
                Admission Letter has been
                <strong>uploaded</strong>
              </p>
              <button type="button" mat-raised-button (click)="fileInputAdmLett.click()">
                Choose File
              </button>
            </div>
            <div>
              <mat-label>School Leaving Certificate</mat-label>
              <input formControlName="leavCert" hidden (change)="onFileSelected($event, 'schLeavingCertFile')"
                #fileInputLeavCert type="file" accept="application/pdf" />
              <mat-error *ngIf="
                  uploadDetailsForm.controls['leavCert'].hasError('required')
                ">
                School Leaving Certificate is
                <strong>required</strong>
              </mat-error>
              <p class="succ" *ngIf="
                  !uploadDetailsForm.controls['leavCert'].hasError('required')
                ">
                School Leaving Certificate has been
                <strong>uploaded</strong>
              </p>
              <button type="button" mat-raised-button (click)="fileInputLeavCert.click()">
                Choose File
              </button>
            </div>
            <div>
              <mat-label>Fee Structure</mat-label>
              <input formControlName="feeStruct" hidden (change)="onFileSelected($event, 'feeStructFile')"
                #fileInputFeeStruct type="file" accept="application/pdf" />
              <mat-error *ngIf="
                  uploadDetailsForm.controls['feeStruct'].hasError('required')
                ">
                Fee Structure is
                <strong>required</strong>
              </mat-error>
              <p class="succ" *ngIf="
                  !uploadDetailsForm.controls['feeStruct'].hasError('required')
                ">
                Fee Structure has been
                <strong>uploaded</strong>
              </p>
              <button type="button" mat-raised-button (click)="fileInputFeeStruct.click()">
                Choose File
              </button>
            </div>
          </div>
        </div>

        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done. Click on submit to send your details</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="openDialog()">Preview</button>
        <button mat-button (click)="submit()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>