<div class="mainCont">
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="myDetailsForm">
      <form [formGroup]="myDetailsForm">
        <ng-template matStepLabel>Fill out your details</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Last name, First name"
            formControlName="full_name"
            required
          />
          <mat-error
            *ngIf="myDetailsForm.controls['full_name'].hasError('required')"
          >
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div class="itemCont">
          <!-- Gender -->
          <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option value="M">Male</mat-option>
              <mat-option value="F">Female</mat-option>
            </mat-select>
            <mat-error
              *ngIf="myDetailsForm.controls['gender'].hasError('required')"
            >
              Gender is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- Date of Birth (dob) -->
          <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input
              matInput
              [matDatepicker]="dobPicker"
              formControlName="dob"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dobPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
            <mat-error
              *ngIf="myDetailsForm.controls['dob'].hasError('required')"
            >
              Date of Birth is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Phone</mat-label>
            <input
              matInput
              type="number"
              placeholder="Phone"
              formControlName="phone"
              required
            />
            <mat-error
              *ngIf="myDetailsForm.controls['phone'].hasError('required')"
            >
              Phone is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Disabled</mat-label>
            <mat-select formControlName="disabled" required>
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
            <mat-error
              *ngIf="myDetailsForm.controls['disabled'].hasError('required')"
            >
              Disabled is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field
          *ngIf="myDetailsForm.controls['disabled'].value === true"
        >
          <mat-label>Which Disability</mat-label>
          <input
            matInput
            placeholder="Disability"
            formControlName="which_disability"
          />
        </mat-form-field>

        <div class="itemCont">
          <!-- School -->
          <mat-form-field>
            <mat-label>School</mat-label>
            <input
              matInput
              placeholder="School"
              formControlName="school"
              required
            />
            <mat-error
              *ngIf="myDetailsForm.controls['school'].hasError('required')"
            >
              School is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- Admission Number (adm_no) -->
          <mat-form-field>
            <mat-label>Admission Number</mat-label>
            <input
              matInput
              placeholder="Admission Number"
              formControlName="adm_no"
              required
            />
            <mat-error
              *ngIf="myDetailsForm.controls['adm_no'].hasError('required')"
            >
              Admission Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- Year of Study -->
          <mat-form-field>
            <mat-label>Year of Study</mat-label>
            <input
              matInput
              type="number"
              placeholder="Year of Study"
              formControlName="year_of_study"
              required
            />
            <mat-error
              *ngIf="
                myDetailsForm.controls['year_of_study'].hasError('required')
              "
            >
              Year of Study is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- Completion Date -->
          <mat-form-field>
            <mat-label>Completion Date</mat-label>
            <input
              matInput
              type="number"
              placeholder="Completion Date"
              formControlName="completion_date"
              required
            />
            <mat-error
              *ngIf="
                myDetailsForm.controls['completion_date'].hasError('required')
              "
            >
              Completion Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step
      [stepControl]="invoiceDetails"
      label="Fill out other Bursary details"
    >
      <form [formGroup]="invoiceDetails">
        <mat-form-field>
          <mat-label>Benefitting from other fund</mat-label>
          <mat-select formControlName="benefitting_other_fund" required>
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              invoiceDetails.controls['benefitting_other_fund'].hasError(
                'required'
              )
            "
          >
            <strong>Required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fund Name</mat-label>
          <input
            matInput
            placeholder="KCB Fund"
            formControlName="other_fund_name"
          />
          <mat-error
            *ngIf="
              invoiceDetails.controls['other_fund_name'].hasError('required')
            "
          >
            Other Fund Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fund Year</mat-label>
          <input
            matInput
            placeholder="2010 - 2017"
            formControlName="other_fund_year"
          />
          <mat-error
            *ngIf="
              invoiceDetails.controls['other_fund_year'].hasError('required')
            "
          >
            Other Fund Year is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fund Amount</mat-label>
          <input
            matInput
            placeholder="20000"
            formControlName="other_fund_amount"
          />
          <mat-error
            *ngIf="
              invoiceDetails.controls['other_fund_amount'].hasError('required')
            "
          >
            Other Fund Amount is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step
      [stepControl]="paymentsForm"
      label="Fill out your Family/Guardian details"
    >
      <form [formGroup]="paymentsForm">
        <div class="itemCont">
          <mat-form-field>
            <mat-label>Parent State</mat-label>
            <mat-select formControlName="parent_state" required>
              <mat-option value="both">Both</mat-option>
              <mat-option value="single">Single</mat-option>
              <mat-option value="no">No</mat-option>
            </mat-select>
            <mat-error
              *ngIf="paymentsForm.controls['parent_state'].hasError('required')"
            >
              Parent State is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Orphan State</mat-label>
            <mat-select formControlName="orphan_state" required>
              <mat-option value="yes">Yes</mat-option>
              <mat-option value="no">No</mat-option>
            </mat-select>
            <mat-error
              *ngIf="paymentsForm.controls['orphan_state'].hasError('required')"
            >
              Orphan State is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Grandparent Care State</mat-label>
            <mat-select formControlName="grand_parent_care_state" required>
              <mat-option value="no">No</mat-option>
              <mat-option value="single">Single</mat-option>
              <mat-option value="double">Double</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                paymentsForm.controls['grand_parent_care_state'].hasError(
                  'required'
                )
              "
            >
              Grandparent Care State is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="itemCont">
          <mat-form-field>
            <mat-label>Father/Guardian Name</mat-label>
            <input
              matInput
              placeholder="Father/Guardian Name"
              formControlName="father_guardian_name"
            />
          </mat-form-field>

          <!-- Father/Guardian Occupation -->
          <mat-form-field>
            <mat-label>Father/Guardian Occupation</mat-label>
            <input
              matInput
              placeholder="Father/Guardian Occupation"
              formControlName="father_guardian_occupation"
            />
          </mat-form-field>

          <!-- Father/Guardian Phone -->
          <mat-form-field>
            <mat-label>Father/Guardian Phone</mat-label>
            <input
              matInput
              type="number"
              placeholder="Father/Guardian Phone"
              formControlName="father_guardian_phone"
            />
          </mat-form-field>
        </div>

        <div class="itemCont">
          <mat-form-field>
            <mat-label>Mother/Guardian Name</mat-label>
            <input
              matInput
              placeholder="Mother/Guardian Name"
              formControlName="mother_guardian_name"
            />
          </mat-form-field>

          <!-- Mother/Guardian Occupation -->
          <mat-form-field>
            <mat-label>Mother/Guardian Occupation</mat-label>
            <input
              matInput
              placeholder="Mother/Guardian Occupation"
              formControlName="mother_guardian_occupation"
            />
          </mat-form-field>

          <!-- Mother/Guardian Phone -->
          <mat-form-field>
            <mat-label>Mother/Guardian Phone</mat-label>
            <input
              matInput
              type="number"
              placeholder="Mother/Guardian Phone"
              formControlName="mother_guardian_phone"
            />
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Parent/Guardian Disabled</mat-label>
          <mat-select formControlName="parent_guardian_disabled" required>
            <mat-option value="N">No</mat-option>
            <mat-option value="Y">Yes</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              paymentsForm.controls['parent_guardian_disabled'].hasError(
                'required'
              )
            "
          >
            Parent/Guardian Disabled is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="itemsForm" label="Fill out your School Details">
      <form [formGroup]="itemsForm">
        <mat-form-field>
          <mat-label>School Bank Name</mat-label>
          <input
            matInput
            placeholder="School Bank Name"
            formControlName="school_bank_name"
            required
          />
          <mat-error
            *ngIf="
              itemsForm.controls['school_bank_name'].hasError('required')
            "
          >
            School Bank Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- School Bank Account Number -->
        <mat-form-field>
          <mat-label>School Bank Account Number</mat-label>
          <input
            matInput
            placeholder="School Bank Account Number"
            formControlName="school_bank_account_no"
            required
          />
          <mat-error
            *ngIf="
              itemsForm.controls['school_bank_account_no'].hasError(
                'required'
              )
            "
          >
            School Bank Account Number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div class="itemCont">
          <!-- School Bank Code -->
          <mat-form-field>
            <mat-label>School Bank Code</mat-label>
            <input
              matInput
              placeholder="School Bank Code"
              formControlName="school_bank_code"
            />
          </mat-form-field>

          <!-- School Bank Branch -->
          <mat-form-field>
            <mat-label>School Bank Branch</mat-label>
            <input
              matInput
              placeholder="School Bank Branch"
              formControlName="school_bank_branch"
            />
          </mat-form-field>

          <!-- Fee Balance -->
          <mat-form-field>
            <mat-label>Fee Balance</mat-label>
            <input
              matInput
              type="number"
              placeholder="Fee Balance"
              formControlName="fee_balance"
              required
            />
            <mat-error
              *ngIf="itemsForm.controls['fee_balance'].hasError('required')"
            >
              Fee Balance is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done. Click on submit to send your details</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="submit()" matStepperPrevious>Submit</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
