::ng-deep body {
  background-image: url("/assets/4372417.jpg");
  background-size: cover;
}

.mainCont {
  // margin-top: 20px;
  width: 80%;
  height: fit-content;
  margin: 1.5rem auto;
  box-shadow: black;
  // border: 2px solid;
  // border-radius: 10px;

  form {
    display: flex;
    flex-direction: column;
  }

  .itemCont {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ::ng-deep mat-form-field {
      width: 30%;
      margin: 0 3px;
    }
  }
}

